@model List<Assistant>
@{
    ViewData["Title"] = "Assistanlar";
}

<h1>@ViewData["Title"]</h1>
<div>
    <a asp-action="Add" asp-controller="Assistant" class="btn btn-primary">Yeni Assistan Ekle</a>
</div>






<div class="table-responsive">
    <table id="kategoriTable" class="table table-primary col-6">
        <thead>
            <tr>
                <th scope="col">Assistan Adı</th>
                <th scope="col">Assistan Cinsiyeti</th>
                <th scope="col">Assistan Mail Adresi</th>
                <th scope="col">Assistanın Öğretmeni</th>
                <th scope="col">Assistan Telefon Numarası</th>
                <th scope="col">İşlemler</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>
@section Scripts{
    <script type="text/javascript">
        function loadTable() {
            $("#tableBody").html('');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAll","Assistant")',
                success: function (res) {
                    for (let i of res) {
                        if (i.sex == "0") {
                            i.sex = "Belirtilmemiş."
                        }
                        var td =
                            `
                                                              <tr id="tr${i.id}">
                                                                <td id="txtAssistantName${i.id}"> ${i.fullName}</td>
                                                                <td id="assistantSex${i.id}"> ${i.sex}</td>
                                                                <td id="txtMail${i.id}"> ${i.email}</td>
                                                                <td id="assistantTeacher${i.id}${i.teacher.id}"> ${i.teacher.fullName}</td>
                                                                <td id="phone${i.id}"> ${i.phone}</td>
                                                                <td>    <a class="btn btn-primary" id="btnEdit${i.id}" href="/Assistant/Edit/${i.id}">Düzenle
                                                                        </a>
                                                                        <a class="btn btn-danger" id="btnDelete${i.id}" onClick="DeleteAssistant('${i.id}')">Sil</a>
                                                                </td>
                                                              </tr>
                                                            `;
                        $("#tableBody").append(td);
                    }
                }
            });
        }
        $(document).ready(function () {
            loadTable();

        });

    </script>
}